/* ===== USTAWIENIA OGÓLNE ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
}

/* ===== STRONA GŁÓWNA ===== */

#mapa{
    position:relative;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

#earth{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

#niemcy{
    position:absolute;
    top:28%;
    left:43.5%;
    width:120px;
    cursor:pointer;
    transition:.3s;

    filter:
    drop-shadow(0 0 10px gold)
    drop-shadow(0 0 25px gold);
}

#niemcy:hover{
    transform:scale(1.12);
}

#niemcy img{
    width:100%;
    display:block;
}

/* ===== MAPA NIEMIEC ===== */

.germany-page{
    margin:0;
    position:relative;
    width:100vw;
    height:100vh;
    overflow:hidden;
    background:#111;
}
.germany-map{
    width:100%;
    height:100%;
    object-fit:contain;
    display:block;
}



.land{
    position:absolute;
    z-index:10;

    color:white;
    text-decoration:none;

    font-size:18px;
    font-weight:bold;

    padding:6px 10px;
    border-radius:8px;

    transition:.3s;

    text-shadow:
    2px 2px 5px black,
    0 0 10px black;
}

.land:hover{
    transform:scale(1.15);

    color:#ffce00;

    text-shadow:
    0 0 10px #ffce00,
    0 0 20px #dd0000,
    2px 2px 5px black;
}

.land:active{
    transform:scale(0.97);
}

/* ===== POZYCJE LANDÓW ===== */

.schleswig{
    top:10%;
    left:49%;
}

.hamburg{
    top:22%;
    left:52%;
}

.niedersachsen{
    top:36%;
    left:43%;
}

.nrw{
    top:52%;
    left:33%;
}

.hessen{
    top:59%;
    left:49%;
}

.baden{
    top:84%;
    left:40%;
}

.bayern{
    top:82%;
    left:56%;
}

.berlin{
    top:38%;
    left:95%;
}

.brandenburg{
    top:52%;
    left:62%;
}

.sachsen{
    top:83%;
    left:58%;
}

.thueringen{
    top:60%;
    left:55%;
}

/* ===== PODSTRONY ===== */

.page{
    max-width:1000px;
    margin:50px auto;

    background:white;
    padding:40px;

    border-radius:20px;

    box-shadow:0 0 20px rgba(0,0,0,.2);
}

.page h1{
    margin-bottom:20px;
    color:#222;
}

.page p{
    color:#444;
    line-height:1.6;
}

.page a{
    display:inline-block;
    margin-top:30px;
    text-decoration:none;
    color:#0055cc;
}
